<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header> </header>
  <ul>
    <%for film in @films%>
      <li><h1><%= film.title %></h1></li>
        <%end%>
    </ul>
  </body>
</html>
